.textContainer {
  display: inline-block;
  animation: show-from-right 1.5s linear;
  /* animation-direction: alternate; */
  /* position: absolute; */
  /* display: flex; */
  height:30px;
  color: #22A0B6;
  @media (max-width: 860px) {
    animation: show-from-center 1.5s linear;
  }
}
.divpor {
  background: rgb(255, 30, 30);
  width: 5px;
  height: 50px;
  z-index: 100;
  display: inline;
  /* animation: showright 1.5s linear infinite; */
}
@keyframes show-from-right {
  0% {
    right: 0px;
    transform: scaleX(0);
    width: 0;
  }

  50% {
    /* right: 0px; */
    transform: scaleX(1);
  }
  100% {
    right: 0px;
    transform: scaleX(0);
    width: 0;
  }
}
@keyframes show-from-center {
  0% {
    transform: scaleX(0);
  }

  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes showright {
  0% {
    translate: 0px 0px;
  }

  50% {
    translate: -9vw 0px;
  }
  100% {
    translate: 0px 0px;
  }
}
