.container {
  background: url(../../../public/images/globe.jpg);
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-top:100px ;
  position: relative;
  @media screen and (max-width: 860px) {
  display: none;
  }
}
