.main {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  align-items: center;
  min-height: 100vh;
  direction: rtl;
  background: var(--background)  ;
  background: white;
  @media (max-width :860px) {
    background: white;
      /* margin-top: 3vw; */
      scrollbar-width: 0px;
      width: auto;
      row-gap: 5vw;
  }
}

/* Mobile */
@media (max-width: 700px) {
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}


