.main {
  display: flex;
  flex-direction: column;
  /* row-gap: 1vw; */
  align-items: center;
  min-height: 100vh;
  direction: rtl;
  background: var(--background)  ;
  @media (max-width :860px) {
    background: white;
    row-gap: 0vw;

      scrollbar-width: 0px;
   
  }
}

/* Mobile */
@media (max-width: 700px) {
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}


