.itemHeader img {
  max-width: 100%;
}

/*  */
/* global */
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 19px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0rem;
  position: relative;
}

.head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 2rem 2rem;
}
.rowContainer {
  position: relative;
}
.rowItem {
  outline: 2px solid rgba(0, 0, 0, 0.105);
  cursor: pointer;
  transition: all 0.15s ease-in;
  /* width: 100%; */
  height: 43vh;
  border-radius: 0.2cm;
  /* overflow: scroll; */
  /* min-width: 380px; */
  min-width: 31%;
  box-sizing: border-box;
  flex: 1 1 300px;
  
}

.rowItem:hover {
  outline: 2px solid rgba(0, 0, 0, 0.6);
}

.itemHeader {
  width: 100%;
  height: inherit;
  position: relative;
  border-radius: 0.2cm;
}
.itemHeader Image {
  width: 100%;
}

.itemDescription {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
.descText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 1rem;
  margin: 0 0 2rem 0.5rem;
  width: 90%;
  overflow: hidden;
}
.rowContainer {
  display: flex;
  gap: 2.2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
  padding: 1rem 0.6rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.rowContainer::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.titleBtns {
  display: flex;
  justify-content: space-between;
}

.btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #373737;
  background-color: white;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
  outline: 2px solid rgba(0, 0, 0, 0.105);
}
.slideLeft {
  position: absolute;
  top: 53%;
  left: -2%;
  z-index: 1;
  border-radius: 0.5cm;
}
.slideRight {
  position: absolute;
  top: 53%;
  right: -2%;
  z-index: 1;
  border-radius: 0.5cm;
}

.btns {
  display: flex;
  justify-content: space-between;

  gap: 0.4rem;
}

.btns button:hover {
  background-color: black;
  color: aliceblue;
}

.link {
  text-decoration: none;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .container {
    margin: 0;
    max-width: 98%;
    justify-content: flex-end;
    font-size: 12px;
  }
  .titleBtns {
    display: none;
  }
  .rowItem {
    min-width: 47%;
  }
}

@media (max-width: 450px) {
  .rowItem {
    min-width: 100%;
  }
}
