.guide_container {
  /* width: 100%; */
  width: 1200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 3vw;
}
.guide_hero_container {
  /* display: flex; */
  position: relative;
  width: 100%;
  color: white;
}
.program_container_hero_container_h2 {
}
.guide_hero_container h2 {
  position: absolute;
  z-index: 100000;
  right: 5vw;
  bottom: 5vw;
}
.guide_hero_container span {
  position: absolute;
  z-index: 100000;
  right: 5vw;
  bottom: 3vw;
}
.guide_container_p {
  font-size: 16px;
  line-height: 2vw;
  margin: 1vw 3vw;
  padding: 2vw 0;
  border-top: 0.5px solid rgba(122, 122, 122, 0.249);
  width: 90%;
}
.guide_container_p p {
  width: 90%;
}
.guide_container_icons_div {
  display: flex;
  column-gap: 1.5vw;
  margin-bottom: 16px ;
 
  /* padding: 5vw; */
}
.guide_container_itemdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1vw;
  width: 280px;
  height: 220px;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  border: 1px solid rgba(151, 161, 166, 0.3);
  border-radius: 0.2cm;
  color: var(--primary3);
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.guide_container_itemdiv.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.guide_container_itemdiv figure {
  position: relative;
  width: 22%;
  height: 27.6%;
}
.guide_container_button {
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  row-gap: 2vw;
  font-size: 26px;
}
.guide_container_button button {
  width: 85%;
  height: 3.7vw;
  color: white;
  background: #ef4050;
  font-size: 15px;
  border: none;
  border-radius: 1cm;
  cursor: pointer;
  font-weight: bolder;
}
@media (max-width: 860px) {
  .guide_container{
    width: 100%;
  }
  .guide_hero_container {
    display: none;
  }
  .guide_container_p {
    line-height: 3vw;
  }
  .guide_container_icons_div {
    overflow-x: scroll;
    scrollbar-width: none;
    column-gap: 3vw;
    padding: 0 3vw;
  }
  .guide_container_itemdiv {
    min-width: 42vw;
    height: 220px;
    overflow-x: scroll;
  }
  .guide_container_itemdiv figure {
    width: 12vw;
    height: 12vw;
  }
}
@media (max-width: 450px) {
  .program_container_hero_container_h2 span {
    font-size: 8px;
  }
  .guide_container_p {
    font-size: 9px;
  }
  .guide_container_itemdiv {
    min-width: 94%;
    height: 220px;
  }
  .guide_container_icons_div {
    overflow-x: scroll;
    scrollbar-width: none;
    column-gap: 5vw;
    padding-right: 6vw;
  }
  .guide_container_itemdiv figure {
    width: 22vw;
    height: 22vw;
  }
  .guide_container_button {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    row-gap: 4vw;
    font-size: 16px;
  }
  .guide_container_button button {
    height: 7vw;
  }
}
