.Breadcrumbcss {
  align-self: flex-start;
  margin-right: 3vw;
  padding-top: 20vh;
  @media (max-width:860px) {
   padding-top: 0;;
    
  }
}
.ol {
  display: flex;
  list-style: none;
  gap: 1vw;
  margin-top: 1vw;
  color: #277b8b;
  @media (max-width:860px) {
    display: none;
    
  }
}
.li {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.li:hover {
  text-decoration: underline;
}
.icon {
  width: 1vw;
  height: 1vw;
  position: relative;
  object-fit: cover;
}
.lastItem {
  color: rgba(62, 62, 62, 0.855);
}
.lastItem .icon {
  display: none;
}

.lastItem:hover {
  text-decoration: none;
  cursor: not-allowed;
}

.bn54 {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  @media (max-width:860px) {
    display: flex;

  }
}

.bn54 .bn54span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0.7px;
}

.bn54:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
