.pagescomponent_container {
  width: 90%;
  margin-bottom: 50px;
}

.pagescomponent_inner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0vw auto;
}
.pages_h1 {
  font-size: 1.5vw;
  margin-bottom: 1vw;
}
.pages_span {
  font-size: 0.8vw;
  color: rgb(88, 88, 88);
  margin-bottom: 1vw;
  display: inline-block;
  width: 60vw;
}
@media (max-width: 860px) {
  .pagescomponent_container {
    width: 95%;
    margin-right: 1vw;
  }
  .pagescomponent_inner_container {
    width: 100%;
    row-gap: 3vw;
  }
  .pages_span {
    font-size: 2vw;
    margin-bottom: 3vw;
  }
  .pages_h1 {
    margin-top: 2vw;
    font-size: 3.5vw;
  }
}

@media (max-width: 540px) {
  .pagescomponent_container {
    margin-right: 2vw;
  }
  .pages_span {
    font-size: 3vw;
    width: 95vw;
  }
}
