
/* Navigation menu styles */
#smenu {
  position: fixed;
  overflow: scroll;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s ease;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  direction: rtl;
  padding: 16px 5px;
  width: 100vw;

}


#smenu.active {
  top:0;
  transition: all 1s ease;
}
