.tour_hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 7vw 0 2vw;
}
.tour_heroSerch {
  position: absolute;
  top: 3vw;
  width: 40vw;
  height: 56px;
  font-size: 16px;
  border: none;
  border-radius: 0.2cm;
  padding: 2vw;
}
.tour_hero h3 {
  position: absolute;
  /* display: block; */
  width: 100vw;
  text-align: center;
  bottom: 3vw;
  color: white;
}
.tour_nav_ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  column-gap: 1vw;
  direction: rtl;
  width: 100%;
  margin-bottom: 2vw;
  padding-bottom: 2vw;
  border-bottom: 4px solid rgba(129, 132, 133, 0.304);
}
.tour_nav_ul_li {
  width: 24vw;
  height: 61px;
  margin-right: 2vw;
}
.tour_nav_ul_li_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5vw;
  direction: rtl;
}
.tour_nav_ul_li_link figure {
  position: relative;
  width: 40px;
  height: 40px;
}
.tour_nav_ul_li_link h4 {
  font-size: 16px;
}
.tour_list_container h3 {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 32px;
  height: 5vw;
}
.tour_list_ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  direction: rtl;
  width: 100%;
  margin-bottom: 2vw;
  gap: 1vw;
}
.tour_list_ul li {
  width: 22vw;
  height: 180px;
}
.tour_list_ul_li_link {
  position: relative;
  width: 24vw;
  height: 180px;
  margin-right: 2vw;
  border-radius: 0.2cm;
}
.tour_list_ul_li_link figure {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.2cm;
}
.tour_list_ul_li_link h4 {
  top: 45%;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 16px;
  color: white;
}
.tour_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vw;
  margin-bottom: 2vw;
  color: rgba(110, 110, 110, 0.57);
}

.tourid_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  direction: rtl;
}
.tourid_container_header {
  display: flex;
  top: 0;
  position: absolute;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 2vw 1vw;
  background: white;
  position: fixed;
  z-index: 1111111111111111;
}
.tourid_container_header_back {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  font-size: 2vw;
  color: #0c9ab0;
}
.tourid_container_header_middel {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 0.2vw;
  flex-direction: column;
}
.tourid_container_header_middel_title {
  font-size: 0.9vw;
}
.tourid_container_header_middel_num {
  color: #9f9e9d;
  font-size: 0.8vw;
}
.tourid_container_header_left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1.7vw;
}
.tourid_container_header_left_fig {
  position: relative;
  width: 10vw;
  color: #0c9ab0;
  height: 3vw;
  font-size: 2vw;
}
.tourid_container_header_left_bottons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1vw;
  font-size: 0.6vw;
  font-weight: bolder;
}
.tourid_container_header_left_botton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0;
  height: 2vw;
  border: 1px solid rgba(160, 162, 160, 0.625);
  border-radius: 0.5cm;
  padding: 1vw;
}
.button_icon {
  font-size: 0.8vw;

  margin-left: 0.2vw;
  color: rgba(160, 162, 160, 1);
}
.tourid_container_header_left_bottons_fig {
  position: relative;

  height: 5vw;
}
.tourid_container_header_left_bottons_span {
}
.tourid_container_card_container {
  width: 90%;
  margin-top: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tourid_container_card_container_li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: 1vw;
}
 .tourid_container_card_container_corsul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30vh;
  border-radius: 0.3cm;
  overflow: scroll;
  scrollbar-width: none;
}

.tourid_container_card_container_textSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 20vh;
  border-bottom: 1px solid #807f7f89;
}
.tourid_container_card_container_rightText {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1vw;
}

.tourid_container_card_container_rightText label {
  text-align: center;
  background: rgba(182, 180, 180, 0.488);
  border-radius: 0.2cm;
  width: 6vw;
  padding: 0.2vw;
  align-self: flex-start;
  font-size: 0.7vw;
}

.tourid_container_card_container_rightText_1line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7vw;
  color: rgb(121, 120, 120);
}
.tourid_container_card_container_rightText_1line figure {
  position: relative;
  width: 1vw;
  height: 1vw;
}
.tourid_container_card_container_rightText .texth4{
  font-size: 15px;
}
.tourid_container_card_container_leftText {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  row-gap: 1vw;
  flex-direction: column;
}
.tourid_container_card_container_leftText h4 {
  color: #0c9ab0;
}
.tourid_container_card_container_leftText h4 span {
  color: black;
  font-size: 0.8vw;
}
.tourid_container_card_container_leftText span {
  color: #9f9e9d;
  font-size: 0.8vw;
}
/*  
*/
@media (max-width: 860px) {
  .tour_hero {
    margin: 0vw 0 2vw;
  }
  .tour_heroSerch {
    width: 89vw;
  }

  .tour_list_container h3 {
    font-size: 18px;
  }
  .tour_list_ul {
    gap: 2vw;
  }

  .tour_list_ul li {
    width: 18vw;
  }
  .tour_list_ul_li_link {
    margin-right: 0vw;
  }

  .tour_list_ul_li_link h4 {
    font-size: 22px;
    font-weight: bolder;
  }
  .tour_footer {
    margin: 2vw;
    font-size: 18px;
  }

  .tourid_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    direction: rtl;
  }
  .tourid_container_header {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 4vw 2vw;
    background: white;
    position: fixed;
    z-index: 1111111111111111;
  }
  .tourid_container_header_back {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 23%;
    font-size: 4vw;
    color: #0c9ab0;
  }
  .tourid_container_header_middel {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 0.2vw;
    flex-direction: column;
  }
  .tourid_container_header_middel_title {
    font-size: 2vw;
  }
  .tourid_container_header_middel_num {
    color: #9f9e9d;
    font-size: 2vw;
  }
  .tourid_container_header_left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 3vw;
    flex-direction: column;
  }
  .tourid_container_header_left_fig {
    position: relative;
    width: 10vw;
    color: #0c9ab0;
    height: 3vw;
    font-size: 3vw;
  }
  .tourid_container_header_left_bottons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    font-size: 1.3vw;
    font-weight: bolder;
  }
  .tourid_container_header_left_botton{
padding: 2vw;
  }
  .tourid_container_header_left_bottons_fig {
    position: relative;

    height: 5vw;
  }
  .tourid_container_header_left_bottons_span {
  }
  .tourid_container_card_container {
    width: 90%;
    margin-top: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tourid_container_card_container_li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 1vw;
  }

  .tourid_container_card_container_textSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 15vh;
    border-bottom: 1px solid #807f7f89;
  }
  .tourid_container_card_container_rightText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 1vw;
  }
  .tourid_container_card_container_rightText label {
    text-align: center;
    background: rgba(182, 180, 180, 0.488);
    border-radius: 0.2cm;
    width: 9vw;
    height: 2.4vw;
    padding: 0.1vw;
    align-self: flex-start;
    font-size: 1.4vw;
  }

  .tourid_container_card_container_rightText_1line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    color: rgb(121, 120, 120);
  }
  .tourid_container_card_container_rightText_1line figure {
    position: relative;
    width: 1vw;
    height: 1vw;
  }
  .tourid_container_card_container_leftText {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    row-gap: 1vw;
    flex-direction: column;
  }
  .tourid_container_card_container_leftText h4 {
    color: #0c9ab0;
  }
  .tourid_container_card_container_leftText h4 span {
    color: black;
    font-size: 0.8vw;
  }
  .tourid_container_card_container_leftText span {
    color: #9f9e9d;
    font-size: 1.3vw;
  }
}
@media (max-width: 450px) {
  .tour_list_ul {
    gap: 3vw;
  }
  .tour_nav_ul_li_link h4 {
    font-size: 10px;
    top: 30%;
  }

  .tour_list_container h3 {
    margin-top: 3vw;
    height: 10vw;
  }
  .tour_list_ul li {
    width: 42vw;
  }
  .tour_footer {
    font-size: 12px;
  }
  .tourid_container_card_container_rightText_1line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: rgb(121, 120, 120);
  }
  .tourid_container_card_container_rightText label {
    text-align: center;
    background: rgba(182, 180, 180, 0.488);
    border-radius: 0.2cm;
    width: 15vw;
    height: 3vw;
    align-self: flex-start;
    font-size: 2vw;
  }
  .tourid_container_card_container_rightText .texth4{font-size: 10px;}
  .tourid_container_card_container_leftText span {
    color: #9f9e9d;
    font-size: 2vw;
  }
}
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1111111111;
  bottom: 3vw;
  left: 45%;
}
.img_carousels {
  width: 90vw;
  height: 192px;
  border-radius: .4cm;
  object-fit: cover;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: #555;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color:#bbb;
 
}
