
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1111111111;
  left: 50vw;
}
.img_carousels {
  /* width: 90vw;
  height: 192px; */
  width: 100%;
  height: 100%;
  /* border-radius: .4cm; */
  object-fit: cover;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: #555;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color:#bbb;
}
@media (max-width: 450px) {
  .carousel-dots {
    left: 43vw;
  }
}