.header_container {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: #003143;
  display: flex; /* Initial background 
  color */
  justify-content: center;
  align-items: flex-start;
  padding: 2vw 3vw;
  z-index: 9999999999999999;
    
}
.header_item {
  display: flex;
  column-gap: 9vw;
}
.header_logo_ham {
  display: flex;
}

.header_item_mainlogo {
  position: relative;
  object-fit: cover;
  width: 13vw;
  height: 3vw;
  margin-left: 5px;
}
.header_item_navMenu {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 0.85vw;
  column-gap: 3vw;
}
.header_navLink {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 32px;
  color: rgb(255, 255, 255);
  min-width: fit-content;
}
.header_navMenuIcon {
  position: relative;
  object-fit: contain;
  width: 20px;
  height: 20px;
}
.active {
  font-weight: bold;
  color: #85c0e0;
}
@media screen and (max-width: 860px) {
  .header_container {
    position: relative;
    justify-content: space-between;
    height: 65px;
  }
  
  .header_item {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    row-gap: 3vw;
  }
  .header_logo_ham {
    position: relative;
    width: 100%;
    justify-content: flex-start;

    direction: ltr;
  }
  .header_item_mainlogo {
    flex-basis: 97vw;
    width: 200px;
    height: 46px;
    text-align: center;
  }
  .header_item_navMenu {
    column-gap: 1vw;
    border: none;
    color: black;
    margin-bottom: 2vw;
  }
  .header_navLink {
    background: white;
    border: 1px solid #D8DCDE;
    border-radius: 12px;
    justify-content: center;
    width: 23vw;
    height: 112px;
    font-weight: bolder;
    font-size: 10px;
    color: black;
  }
  .header_navMenuIcon {
    width: 38px;
    height: 38px;
  }
  .active {
    color: black;
  }
}

@media screen and (max-width: 450px) {
  .header_navLink {
    font-size: 7px;
  }
}
